# Variables and Data Types

## Variables
Variables help use to store information in our code and be able to reuse things.
```py
firstName = "Gertrud"
lastName = "Zimmermann"
print(firstName)
print(lastName)
```
```pycon
Gertrud
Zimmermann
```

## Exercise 1:
Save your first name, last name and age as strings/numbers in variables called
- ``first_name``
- ``last_name``
- ``age``

and print each variable.

In [ ]:
# write your code below this line:
first_name = "Hildegard"
last_name = "Müller"
age = 65
print(first_name)
print(last_name)
print(age)

## Printing multiple variables I
We can print multiple variables in one print command by seperating variables with commas:
```python
print(firstName, lastName)
```
```pycon
Gertrud Zimmermann
```

## Exercise 2:
Print your first and last name in one line using the variables `first_name` and `last_name` you assigned in `Exercise 1`.

In [ ]:
# write your code below this line:
print(first_name, last_name)

## Printing multiple variables II
We can print Strings together with variables in one print command:

```python
print("I am", firstName, lastName)
```
```pycon
I am Gertrud Zimmermann
```

## Exercise 3:
Introduce yourself by printing:

``Hi! My name is <your name> and I am <your age> years old.``

Use the variables you assigned in `Exercise 1`!

In [1]:
# write your code below this line
print("Hi! My name is", first_name, last_name, "and I am", age, "years old.")
# or with string concatenation:
print("Hi! My name is", first_name + ' ' + last_name, "and I am", age, "years old.")

NameError: name 'first_name' is not defined

## Data types
There are 3 different data types in python:
- Strings: represent text (`"hi"`)
- Integers: represent whole numbers (`2010`)
- Floats: represent floating point numbers (`99.99`)

## Exercise 4:

Match the following values to the right data types:
#### Values
```python
"hello world"
100.111
100
# now assign the rest of the values!
101235.5
46
"505"
0.0
10
"c"
```

In [ ]:
# assign the values from above to the right variables
string_1 = "hello world"
string_2 = ?
string_3 = ?

integer_1 = 100
integer_2 = ?
integer_3 = ?

float_1 = 101235.5
float_2 = ?
float_3 = ?

## Data Types II
An example of assigning values to variables:
```python
standard_müsli_price = 0.99 #price in euros as a float
```

## Exercise 5:
You are going shopping later tonight and want to purchase two different Müslis:
- Kölln Müsli
    - price: 1.99
    - quantity: 1
    - name: "Koelln Müsli"
- Seitenbacher Müsli
    - price: 5.49
    - quantity: 2
    - name: "Seitenbacher Müsli"

Save the price, quantity and name of the two Müslis in variables with fitting names and add the corresponding data type as a comment behind it.

In [ ]:
# write your code below this line
koelln_price = 1.99 #float
koellny_quantity = 1 #integer
koelln_name = "Kölln Müsli" #string

seitenbacher_price = 5.49 #float
seitenbacher_quantity = 2 #integer
seitenbacher_name = "Seitenbacher Müsli" #string

## Bonus exercises

## Bonus exercise 1
Save the names of 5 actors/actresses in variables and name them accordingly.

In [2]:
# write your code below this line
actor_1 = "Brad Pitt"
actor_2 = "Matthew Perry"
actor_3 = "Emma Stone"
actor_4 = "George Clooney"
actor_5 = "Jennifer Aniston"

## Bonus exercise 2
Print out the sentence `This is the EduRef Python Basics course!` in one line using all the predefined variables.

In [7]:
# do not change this part of the code
var_1 = "This"
var_2 = "!"
var_3 = "course"
var_4 = " "
var_5 = "EduRef Python Basics"
var_6 = "is the"

# write your code below this line
print(var_1,var_6,var_5 + var_4 + var_3 + var_2)

This is the EduRef Python Basics course!

## Bonus exercise 3
You are given information on different cars, which you are supposed to represent in python:

| Name    | Price      | Power (HP) | # of Seats | Color  |
|---------|------------|------------|------------|--------|
| Audi    | 50000€     | 300        | 5          | black  |
| Ferrari | 119999,99€ | 600        | 2          | red    |
| Smart   | 20000€     | 80         | 2          | silver |

Now save this data in correct variables with fitting names.
The following data types should be used for each category:
- Name: string
- Price: float
- Power: integer
- \# of Seats: integer
- Color: string

Then print all of the information.

In [12]:
# write your code below this line:
name_audi = "Audi"
price_audi = 50000.00
power_audi = 300
no_seats_audi = 5
color_audi = "black"

name_ferrari = "Ferrari"
price_ferrari = 119999.99
power_ferrari = 600
no_seats_ferrari = 2
color_ferrari = "red"

name_smart = "Smart"
price_smart = 20000.00
power_smart = 80
no_seats_smart = 2
color_smart = "silver"

print("Name:", name_audi," | " + "Price:", price_audi, " | " + "Power:", power_audi," | " + "Seats: ", no_seats_audi, " | " + "Color:", color_audi)
print("Name:", name_ferrari," | " + "Price:", price_ferrari, " | " + "Power:", power_ferrari," | " + "Seats: ", no_seats_ferrari, " | " + "Color:", color_ferrari)
print("Name:", name_smart," | " + "Price:", price_smart, " | " + "Power:", power_smart," | " + "Seats: ", no_seats_smart, " | " + "Color:", color_smart)

Name: Audi  | Price: 50000.0  | Power: 300  | Seats:  5  | Color: black
Name: Ferrari  | Price: 119999.99  | Power: 600  | Seats:  2  | Color: red
Name: Smart  | Price: 20000.0  | Power: 80  | Seats:  2  | Color: silver